
<head>
    <meta charset="utf-8">
    <title>Beginner test</title>
    <link rel="stylesheet" href="/css/beginner.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<div class="top-container">
    <img class="top-cloud" src="/img/cloud.png" alt="cloud">
    <div class="title-text">
        <h1>I'm Joon.</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="/img/cloud.png" alt="cloud">
    <img class="mountain" src="/img/mountain.png" alt="mountain-img">
</div>


<div class="middle-container">
    <div class="profile">
        <img id="joon" src="/img/joon.png" alt="Joon" width="200" height="250">
        <h2>Hello.</h2>
        <p class="intro">I am <span class="pro"></span>Web Developer</span> and programmer. I ❤️ Pepsi Max and Movies.</p>
    </div>
    <hr>

    <div class="skills">
        <h2>My Skills</h2>
        <div class="skill-row">
            <img class="code-img" src="https://media.giphy.com/media/L1R1tvI9svkIWwpVYr/giphy.gif?cid=ecf05e471u2w85x00h7vk8fn6zwm9rmu6e4efok0h89hhudo&rid=giphy.gif&ct=g" alt="code-img">

            <h3>Design & Development</h3>
            <p>
                I started learning to code when I was 16 years old because I wanted to make my own video games.
                Over time, I have gained experience in designing and developing web applications.
            </p>
        </div>

        <hr>

        <div class="skill-row">
            <img class="chilli-img" src="/img/racoon.png" alt="chillies-img">

            <h3>Racoons</h3>
            <p>I love racoons, they are very cute.</p>

        </div>


        <div clas="skill-row">
            <h3> FORM Email </h3>
            <form action="mailto:joonpoore@gmail.com" method="post" enctype="text/plain">
                <label>Your Name:</label>
                <input type="text" name="From" value="" placeholder="write here"><br>
                <label>Your email:</label>
                <input type="email" name="Emailadresse" value="" placeholder="write here"><br>
                <label>Your message:</label><br>
                <textarea name="Message" rows="10" cols="30"></textarea><br>
                <input type="submit" name="" class="btn">
            </form>
        </div>

    </div>
</div>
